@import "config";

body {
    background-color: $very-dark-blue;
    color: $pale-blue;
    font: $font-stack;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.person {
    width: 80%;
}

.person-details {
    background-color: $blue;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.person-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.person-image img {
    width: 100%;
    height: 100%;
}

.person-name {
    padding-left: 1rem;
}

.person-name p {
    margin: 0;
    color: $desaturated-blue;
}

.person-name h1 {
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
}

.timeframes {
    background-color: $dark-blue;
    border-radius: 10px;
    padding: 0.5rem;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    position: relative;
    z-index: 1;
    margin-top: -20px;
}

.timeframes ul {
    display: flex;
    padding: 0;
    justify-content: space-around;
}

.timeframes ul li {
    cursor: pointer;
    list-style: none;
    font-size: 1rem;
    color: $desaturated-blue;
}

.timeframes ul li:hover {
    color: $pale-blue;
}

.work, .play, .study, .exercise, .social, .self-care {
    width: 80%;
}


.work-image, .play-image, .study-image, .exercise-image, .social-image, .self-care-image {
    background-color: #ff8c66;
    padding: 0 0.5rem;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    height: 80px;
    overflow: hidden;
    border-radius: 10px;
}

.work-image img, .play-image img, .study-image img, .exercise-image img, .social-image img, .self-care-image img {
    position: absolute;
    top: -0.3rem;
}


.work-main, .play-main, .study-main, .exercise-main, .social-main, .self-care-main {
    background-color: $dark-blue;
    padding: 1rem;
    position: relative;
    z-index: 2;
    margin-top: -2.5rem;
    border-radius: 10px;
}

.play-image {
    background: $play-soft-blue;
}

.study-image {
    background: $study-light-red;
}

.exercise-image {
    background: $exercise-lime-green;
}

.social-image {
    background: $social-violet;
}

.self-care-image {
    background: $self-care-soft-orange;
}


.active {
    color: $pale-blue !important;
}






@import "media";