@import "config";

body {
    background-color: $very-dark-blue;
    color: $pale-blue;
    font: $font-stack;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.person, .content {
    width: 80%;
}

.person-details {
    background-color: $blue;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.person-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.person-image img {
    width: 100%;
    height: 100%;
}

.person-name {
    padding-left: 1rem;
}

.person-name p {
    margin: 0;
    color: $desaturated-blue;
}

.person-name h1 {
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
}

.timeframes {
    background-color: $dark-blue;
    border-radius: 10px;
    padding: 0.5rem;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    position: relative;
    z-index: 1;
    margin-top: -20px;
}

.timeframes ul {
    display: flex;
    padding: 0;
    justify-content: space-around;
}

.timeframes ul li {
    cursor: pointer;
    list-style: none;
    font-size: 1rem;
    color: $desaturated-blue;
}

.timeframes ul li:hover {
    color: $pale-blue;
}

.image {
    padding: 0 0.5rem;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    height: 80px;
    overflow: hidden;
    border-radius: 10px;
}

.work .image {
    background-color: #ff8c66;
}

.play .image {
    background: $play-soft-blue;
}

.study .image {
    background: $study-light-red;
}

.exercise .image {
    background: $exercise-lime-green;
}

.social .image {
    background: $social-violet;
}

.self-care .image {
    background: $self-care-soft-orange;
}

.image img {
    position: absolute;
    top: -0.3rem;
}

.main {
    background-color: $dark-blue;
    padding: 1rem;
    position: relative;
    z-index: 2;
    margin-top: -2.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.main:hover {
    background-color: lighten($dark-blue, 15%);
}

.header, .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat-header {
    font-size: 1rem;
    font-weight: 400;
}

.header img {
    opacity: 0.5;
}

.header img:hover {
    opacity: 1;
}

.current-data {
    font-size: 1.5rem;
    font-weight: 300;
}

.previous-data {
    color: $desaturated-blue;
}

.active {
    color: $pale-blue !important;
}






@import "media";